body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}
h1 {
  color: #2c3e50;
}
.text {
  color: #7f8c8d;
  font-size: 1.5em;
  animation: alternateText 4s infinite;
}
@keyframes alternateText {
  0%,
  50% {
    content: "I'm a software developer.";
  }
  50.01%,
  100% {
    content: "I'm open to work.";
  }
}
footer {
  position: absolute;
  bottom: 10px;
  color: #95a5a6;
}
footer a {
  color: #3498db;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
